<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79287456473-taun6ns6oktgrinh00ot065gs50lvval.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79287456473-taun6ns6oktgrinh00ot065gs50lvval</string>
	<key>API_KEY</key>
	<string>AIzaSyC69N8cOW-ljoBIauYACAUxHYxDCisJ2pg</string>
	<key>GCM_SENDER_ID</key>
	<string>79287456473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freelanceApp</string>
	<key>PROJECT_ID</key>
	<string>freelance-app-f192c</string>
	<key>STORAGE_BUCKET</key>
	<string>freelance-app-f192c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79287456473:ios:6c06e418cbe8c8f53c64c8</string>
</dict>
</plist>